    <div id="login">
      <ul>
        <% if logged_in? %>
          <li>Logged in as: <%= link_to h(current_user.login.capitalize), user_path(current_user) %></li>
          <li><%= link_to 'edit profile', edit_user_path(current_user) %></li>
          <li><%= link_to 'change password', change_password_path %></li>
          <li><%= link_to 'log out', logout_url %></li>
          <% if current_user.has_role?('administrator') %>
            <li><%= link_to 'administer users', users_path %></li>
        <% end %>
        <% else %>
          <li><%= link_to 'Log In', new_session_path %></li>
          <li><%= link_to 'Forgot Password?', forgot_password_path %></li>
       <% end %>
      </ul>
    </div>
