<h2>Online Codebook for the Medieval Sources Bibliography</h2>

<p>Designed in Microsoft Acess 2000, this database was begun in Summer
2003 to record details about printed and online primary sources that can
shed light on the history, culture, and religion of the middle ages.  The
following describes the contents of and guidelines employed for entering
data in each field of the database.  Fields which users can search are
marked with an asterisk.  Further informaion is often given about fields
on the Search Form.  For example, to see a list of all possible entries in
the indexed searchable fields, click the "Index" link next to the field
name.  For advice about searching within specific fields, click the
"Search Tips" link.</p>



<p><b>Editor/Translator*</b><br>
Name of the editor(s) and/or translator(s), surname first. Users may enter
these names on the search form to perform a boolean search for a
particular editor or translator.

<p><b>Title</b><br>
Title of book; or chapter title (in quotation marks), followed by the
title of the book that the chapter appears in; or article title (in
quotation marks). </p>

<p><b>Publication Information</b><br>
Publication information, including (in this order); 1) Series or Journal 
title, along with volume number; 2) place of publication if a book; 3) 
publisher, if a book (not recorded for a local or regional record society 
publication); 4) total page range of an article or book chapter; and 5) 
year resource was published.  If the book is a reprint, the reprint
publication year is included in square brackets. </p>

<p><b>Hyperlink</b><br>
Web address for texts that are available online.  Note that some of these
items may be in databases that require an institutional or individual
subscription.</p>

<p><b>ISBN</b><br>
ISBN number, if available.</p>

<p><b>Number of pages of primary source text</b><br>

Total number of pages of primary source text (NOT the total pagination of 
an article or book chapter, which appears in the <span 
class="field">Publication Information</span> 
field.)</p>

<p><b>Text Name*</b><br> 
Used to: 1) to name specific government records, 
such as <i>Inquisitions Post Mortem</i> or <i>Pipe Rolls</i>; 2)  to 
further distinguish a type of record, such as <i>Exeter Local Customs 
Accounts</i> from <i>Exeter National Customs Accounts</i>; 3) to cite 
the specific name of a record (such as the <i>Oak Book of 
Southampton</i>); 
4) to cite the specific name of a literary work, such as <i>Song of 
Roland</i>.  Variant spellings and languages are often provided, so that 
users performing a boolean search will find the appropriate records.</p>

<p><b>Medieval Author(s)*</b> | 
<%= link_to "See List of Authors", authors_path %> <br />
Name of the medieval author of the text, if
known.  Author names are given when there is an identifiable author or
customary attribution of a particular text, which will include literary,
philosophical, and theological texts, as well as many chronicles and
historiographical texts.  However, authors are not listed for documents
such as bishop's registers, court rolls, town council minutes, notarial
registers, charters, account rolls, etc.  When a text is a medieval
translation from one language to another, the translator is listed as
the author.  Many if not most of the medieval
authors are listed with their forename first, followed by their surname.
Common aliases and variant spellings are given in parenthesis, and
authors' dates, where they are known, are listed.  Users may enter
medieval authors' names on the search form to perform a boolean search
for a particular author.</p>

<p><b>Earliest Date*</b> | <%= link_to "Date Search Tips", {:controller => 'about', :action => 'tips_date'} %> <br />
Earliest date covered by the work.  Further information on the dates of the individual documents should be included in the 
<span class="field"> Comments</span> field.</p>

<p><b>Latest Date*</b> | <%= link_to "Date Search Tips", {:controller => 'about', :action => 'tips_date'} %> <br />
Latest date covered by the work.  Further information on the dates of the 
individual documents should be included in the <span class="field"> Comments</span> field.</p>

<p><b>Archival Reference </b><br>
Archive, record office or library where original documents are located; 
including class/call no. if known.  Abbreviations:  BL=British Library; 
BN=Bibliotheque Nationale; PRO=Public Record Office, London.</p>

<p><b>Original Language* </b> | <%= link_to "List of Original Languages",  {:controller => 'about', :action => 
'languages'} %> <br />
Original medieval language of source.  Users can search for one or 
more items from the list of original languages.</p>

<p><b>Original Language Included*</b><br>
Indicates if the printed or online text is in the original language.</p>

<p><b>English Translation*</b><br>
Indicates if modern English translation is included.  Details about 
translation are included in the <span class="field">Translation 
Comments</span> field.</p>

<p><b>French Translation*</b><br>
Indicates if modern French translation is included.  Details about 
translation are included in the <span class="field">Translation 
Comments</span> field.</p>

<p><b>Other Translation*</b><br>
Indicates if translation into another modern language is included.  If so,
the language will be listed in the <span class="field">Translation
Comments</span> field.</p>

<p><b>Translation Comments</b><br>
Other information about the translation, such as whether it appears on 
facing page of original text, whether translations are only offered for 
some of the text, or whether a translation of poetry is in verse or 
prose.</p>

<p><b>Geo-Political Region*</b> | 
<%= link_to "List of Geopolitical Regions",  {:controller => 'about', :action => 'countries' } %> |
<%= link_to "Search Tips", {:controller => 'about', :action => 'tips_countries' } %> <br />
The modern and medieval country/countries/regions which the text 
covers.</p>

<p><b>County/Region/Parish/Town/Village*</b><br>
The particular county, region, parish, town, and/or village which the text 
covers.  Users can perform a boolean search for these locations.  Further 
information (especially when many small
places are covered) is given in the <span class="field">Comments</span> 
field.</p>

<p><b>Record Type*</b> | 
<%= link_to "List of Record Types", {:controller => 'about', :action => 'types' } %> <br />
Type or genre of record. Users may search for one or more items from
the list of record types.</p>

<p><b>Subject Headings*</b> | 
<%= link_to "List of Subject Headings", {:controller => 'about', :action => 'subjects' } %> <br />
Users may search for one or more items from the list of subject 
headings.</p>

<p><b>Index</b><br>
Indicates work contains an index. Further details are in the 
<span class="field">Comments</span> field.</p>

<p><b>Glossary</b><br>
Indicates work contains a glossary.  Further details are in the 

<span class="field">Comments</span> field.</p>

<p><b>Appendices</b><br>
Indicates work contains appendices.  Further details are in the 
<span class="field">Comments</span> field.</p>

<p><b>Introduction</b><br>
Indicates work contains an Introduction.  Details about length and content 
are in 
<span class="field">Introduction Summary</span> field.</p>

<p><b>Bibliography</b><br>
Indicates work contains a bibliography.</p>

<p><b>Facsimile</b><br>
Indicates work is a facsimile.</p>

<p><b>Comments</b><br>
This section contains information not covered by the other fields and 
is usually the single most useful part of the annotation for new users who 
are unfamiliar with the source. May cover such information as: 
a)	Whether the printed source represents selections, abstracts, or 
full text;
b)	Whether the edition is an updated, revised, or the standard 
edition of a 
text that has been published more than once; 
c)	Specific dates and titles of individual documents if scattered 
over a wide range of years; 
d)	Further notes on the type of source and what it covers;
e)	Particularly helpful secondary sources on this primary source;
f)	The historical context of the work and/or its author.

<p><b>Introduction Summary</b><br>
Comments on the range and contents of Introduction.</p>

<p><b>Cataloger </b><br>
Initials of person(s) entering the data.  If the cataloger has seen and 
examined the source, the initials are in capital letters.  If the entry 
has been augmented or corrected by someone else, this person's initials 

